body {
    background-color: rgb(59, 59, 59); /*Kanskje ta noe mørkere?*/
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* PEDER SIN SEKSJON */
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
}
html{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
body{
    /* Code for centered/reduced width page */
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
header, main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    padding: 20px;
}

#dateDisplay{
    font-size: 1.2rem;
}
#Username{
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
}

main{
    height: 100%;
    padding: 0 20px;
}

h1, header p{margin: 0;}
h2{margin: 0 0 1rem 0;}
p{width: fit-content;}
a{
    text-decoration: underline;
    color: white;
    font-style: italic;
    font-weight: bold;
}
a:hover{opacity: 70%;}

button, input[type="submit"]{
    border: white 2px solid;
    font-size: 0.9rem;

}

button:hover, input[type="submit"]:hover{
    opacity: 70%;
    /* background-color: #ffffff88; */
}

#displayTimeChange{
    display: flex;
    justify-content: center;
    align-items: center;
}
#displayTimeChange button{
    margin: 5px;
}

.bookingInfo{display: none;}
.floatingForm{
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000050;
    display: none;
    width: 100%;
    height: 100%;
}
.floatingFormContent{
    margin: 0;
    padding: 20px;
    width: fit-content;
    background-color: #000;
    display: block;
}
.floatingFormContent div{
    padding-top: 1rem;
}
.closeBtn{color: #ff3333;}

input[type="submit"].fjernBookingSubmitt{
    background-color: #ff3333;
}
input[type="submit"].fjernBookingSubmitt:hover{
    background-color: #ff3333;
}

#row_explainations{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ErrorMSG{
    color: #ff3333;
}
.SuccessMSG{
    color: #33ff33
}

@media (orientation: portrait) {
    body{width: 100%;}
}
/*********************/