body {
    background-color: rgb(59, 59, 59); /*Kanskje ta noe mørkere?*/
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button, input[type="submit"]{
    border: gray;
    font-size: 0.9rem;
}

button:hover, input[type="submit"]:hover{
    background-color: #ffffff88;
}



/* PEDER SIN SEKSJON */
html, body, #editContainer{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
main{
    padding: 0 20px;
    min-height: 100%;
}
a{
    text-decoration: underline;
    color: white;
    font-style: italic;
    font-weight: bold;
}
a:hover{
    opacity: 70%;
}
html{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
body{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

.bookingInfo{
    display: none;
}
.floatingForm{
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #00000050;
    display: none;
    width: 100%;
    height: 100%;
}
.floatingFormContent{
    margin: 0;
    padding: 20px;
    width: fit-content;
    background-color: #000;
    display: block;
}
.floatingFormContent div{
    padding-top: 1rem;
}
.closeBtn{color: Red;}

#row_explainations{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media (orientation: portrait) {
    body{width: 100%;}
}
/*********************/